---
---
<!DOCTYPE html>
<html>
<head>
<title>Pranav Minasandra</title>
<link rel="stylesheet" href="https://latex.now.sh/style.css">
<link rel="stylesheet" href="/Assets/addon.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
html {
color: black!important;
font-size: 12pt;
}

#displaypic{
float: right;
text-align: center;
padding-top: 50px;
}
</style>
</head>

<body>
<header>
<h1 class="title">Pranav Minasandra</h1>
</header>
<div class="nav">
<ol>
	<li><a href="/">Home</a></li>
	<li><a href="/about">About</a></li>	
	<li><a href="/projects">Projects</a></li>	
	<li><a href="/reviews" class="currentlink">Reviews</a></li>	
	<li><a href="/news">News</a></li>	
	<li><a href="/contact">Contact</a></li>
</ol>
</div>
<main>
{{ content }}
</main>


<footer>This is an ad-free and tracker-free website. No data is collected or retained from any users.<br>© Pranav Minasandra, 2020. All Rights Reserved.</footer>
</body>
</html>
