---
---
<!DOCTYPE html>
<html>
<head>
<title>Pranav Minasandra</title>
<link rel="stylesheet" href="/Assets/style.css">
<link rel="stylesheet" href="/Assets/addon.css">

<script src="/Scripts/populate-navbar.js" defer></script>
<script src="/Scripts/populate-footer.js" defer></script>
<script src="/Scripts/load-more-blogs.js" defer></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
html {
color: black!important;
font-size: 12pt;
}

#displaypic{
float: right;
text-align: center;
padding-top: 50px;
}
</style>
</head>

<body>
<header>
</header>
<h2>Pranav Minasandra, PhD</h2>
<div id="navbar"></div>

<main>
{{ content }}
</main>


<footer>This is an ad-free and tracker-free website. No data is collected or retained from any users.<br>© Pranav Minasandra, 2020. All Rights Reserved.</footer>
</body>
</html>
