---
---
<!DOCTYPE html>
<!--html prefix="og: http://ogp.me/ns#"--!>
<html>
<head>
<title>Pranav Minasandra</title>
<link rel="stylesheet" href="https://latex.now.sh/style.css">
<link rel="stylesheet" href="/Assets/addon.css">
<link rel="stylesheet" href="/Assets/blog.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- I don't want to add these meta things, but without them the shared link looks like crap --!>
<meta name="og:type" content="article">
<meta name="og:title" content="{{ page.title }}">
<meta name="og:site_name" content="Pranav Minasandra Reviews">
<meta name="og:url" content="{{ site.url }}{{ page.url }}">
<meta name="og:image" content="https://pminasandra.github.io{{ page.img }}">
<meta name="og:image:secure_url" content="https://pminasandra.github.io{{ page.img }}">
<meta name="og:description" content="{{ page.excerpt | strip_html }}">
<meta name="article:published_time" content="{{ page.date }}">

<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="@PMinasandra">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:site_name" content="{{ site.url }}">
<meta name="twitter:image" content="https://pminasandra.github.io{{ page.img }}">
<meta name="twitter:description" content="{{ page.excerpt | strip_html }}">
<style>
html {
color: black!important;
font-size: 12pt;
}

#displaypic{
float: right;
text-align: center;
padding-top: 50px;
}
</style>
</head>

<body>
<header>
<h1 class="title">Pranav Minasandra</h1>
</header>
<div class="nav">
<ol>
	<li><a href="/">Home</a></li>
	<li><a href="/about">About</a></li>	
	<li><a href="/projects">Projects</a></li>	
	<li><a href="/reviews" class="currentlink">Reviews</a></li>	
	<li><a href="/news">News</a></li>	
	<li><a href="/contact">Contact</a></li>
</ol>
</div>
<main>
<h1 class="post-title">{{ page.title }}</h1>
<h1 class="post-author">Reviewed by {{ page.author  }}</h1> 
<h1 class="post-date">{{ page.date | date_to_string  }}</h1>

<img src="{{ page.img }}" class="post-cover">

{{ content }}
</main>


<footer>This is an ad-free and tracker-free website. No data is collected or retained from any users.<br>© Pranav Minasandra, 2020. All Rights Reserved.</footer>
</body>
</html>

