/* This css file is an extension to https://latex.now.sh/style.css */
/* Written by Pranav Minasandra, Sep 4 2020 */

@import url('https://fonts.googleapis.com/css2?family=Lusitana&display=swap');


html, body, h1, p, ul, ol, li, a {
	font-family: 'Lusitana', Times, serif;
	font-weight: normal;
	background-color: white!important;
}

h2 {
	font-size: 1.5em;
	font-weight: 700;
	font-family: 'Lusitana', Times;
}

em {
	font-family: 'Lusitana', Times;
	font-style: italic;
	font-weight: 400;
}

h1 {
	font-size: 3em;
	word-spacing: 0.2em;
}

div.nav {
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	padding-top: 0em;
	padding-bottom: 0em;
}

div.nav ol {
	display: flex;
	padding: 0em;
	margin:0em;
	list-style-type: none;
	justify-content: space-between;
}

div.nav ol li {
	text-align: center;
	margin: 0em;
	padding: 2em 0.5em;
	display: block;
}

div#intro-text {
	flex: 3;
}

div#intro-img {
	float:right;
	margin:0em;
	padding:1em;
	vertical-align:middle;
	padding-top:2em;
	flex: 1;
}

div#maincontainer {
	display: flex;
}

a.currentlink {
	padding-right: 0.5em;
	padding-left: 0.5em;
	margin: 0em;
	border-left: 5px solid black;
	border-right: 5px solid black;
}

img#iiscpic{
	width: 100%;
}

footer {
	max-width: 50%;
	style: italic;
	font-size: 6pt;
	margin:auto;
	margin-top: 20pt;
	border: solid 1px black;
	text-align: center;
}

strike {
	text-decoration: solid 1px red line-through;
}
@media only screen and (max-width: 980px) {
	html {
		max-width: 96%;
		width: 96%;
		margin: 2%;
	}

	body{
		width: 100%;
	}

	html, p{
		line-height: 1.3em;
	}

	h1 {
		max-width: 100%;
		font-size: 2em;
		padding: 0.5em 0;
	}

	img {
		max-width: 100%;
	}

	h2 {
		font-size: 1.5em;
		bottom-padding: 0.75em;
	}

	p {
		margin: 1em 0em;
		max-width: 100%;
	}

	div#maincontainer {
		flex-flow: column;
	}

	div#intro-text {
		flex: 1;
	}

	div#intro-img {
		float: none;
		text-align: center;
		flex: 1;
		margin-top:0em;
		padding: 2em 2em 0em 2em;
	}
	
	.nav ol {
		justify-content: center;
		max-width: 95%;
		flex-flow: row wrap!important;
		align-content: flex-start;
	}
	.nav ol li {
		text-align: center;
		padding: 1em 0em!important;
		flex: row wrap!important;
		width: 32%!important;
	}

	.nav ol li a {
		font-size: 1.4em;
		width: 32%!important;
		flex: row wrap!important;
		font-size: 1em!important;
	}

	footer {
		max-width: 100%
	}
}
