.optionsbox {
	display:flex;
	flex-flow: row;
	margin-top:2em;
}

.option1 {
	flex:3;
	margin-right:2em;
}

.option2 {
	flex:;
}

@media only screen and (max-width: 980px) {
 .optionsbox{
		flex-flow: column!important;
	}

	.option1 {
	margin-right: 0%;
	padding-bottom: 2em;
	}
}
