div.projectbox {
	display: flex;
	flex-flow:row;
	justify-content: space-between;
	border-bottom: 5px solid black;
	padding-bottom:1.5em;
}


.col {
	margin: 0em;
}

.projectbox {
	align-items: stretch;
}

.projectbox .text {
	color: black;
	text-decoration: none;
}

.text {
	flex: 2;
}

.image {
	flex: 1;
	padding-left:1em;
	margin-top:2em;
}


@media only screen and (max-width: 980px) {
	div.projectbox {
		flex-flow: column!important;
	}

	.image {
		text-align: center;
		padding-left: 0em!important;
		margin-top: 0em;
		max-width: 100%;
		width: 100%;
	}

	h3 {
		text-size: 2em!important;
	}
}
