<!DOCTYPE html>
<html>
<head>
<title>Pranav Minasandra</title>
<link rel="stylesheet" href="/Assets/style.css">
<link rel="stylesheet" href="/Assets/addon.css">

<script src="/Scripts/populate-navbar.js" defer></script>
<script src="/Scripts/populate-footer.js" defer></script>
<script src="/Scripts/load-more-blogs.js" defer></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
html {
color: black!important;
font-size: 12pt;
}

#displaypic{
float: right;
text-align: center;
padding-top: 50px;
}
</style>
</head>

<body>
<header>
</header>
<h2>Pranav Minasandra, PhD</h2>
<div id="navbar"></div>

<main>
<p>What are minds? How well do we understand them?
This book is the history of how people have thought about minds, brains,
cognition, and the like.
Covering the past, present, and predicted future of what we now call
neuroscience, this book is definitely a must read for all interested in those
areas.</p>

<p>Like <a href="/reviews/2024/04/20/the-language-puzzle.html">The Language Puzzle</a>, the
Idea of the Brain is a book more focussed towards an academic audience. Cobb backs
up his claims with citations, and doesn’t hesitate to get his hands dirty when
wading into the more hotly contested debates.</p>

<p>The book begins with an extended history: how did we every figure out that the
brain was the ‘seat’ of the mind? How did we figure out what nerves do, and how
did we think they did that? How did ‘unconnected’ thinkers like Newton or Darwin
influence the history of this field?
At times mind-blowing and at other times gruesome (sometimes both), the history
of neuroscience is addressed in unimpeachable detail.</p>

<p>As for the present, the book presents a view that I believe all scientists who
have their eyes open see more and more clearly—although we have made
a staggering amount of incremental research over the past few decades, no
ground-breaking results have come through. Maybe this has always been how
science works. After all, over 300 years separated Einstein and Newton. But
then, have we as a species ever spent as much of our human labour and wealth
on scientific discovery as we do today? Cobb quotes Adam Hantman, and the though
resonates with me. “What conceptual innovations have we made in the last thirty
years? None.” Aside from this, the part of the book focussing on the present
does a great job getting an outsider excited about this definitely nascent
field. A lot of time is spent considering the localisation debate: the question
of the extent to which function be mapped to spatial locations in the brain. It
also covers modern techniques and philosophies to the study of neuroscience.
Some time is even spent on consciousness, an interesting topic about which
I have rarely read anything that is more than a sequence of words.</p>

<p>I recommend this book wholeheartedly, because it is a thorough, nuanced, and
brave summary of the history and present of this field.</p>

</main>


<footer></footer>
</body>
</html>
