<!DOCTYPE html>
<html>
<head>
<title>Pranav Minasandra</title>
<link rel="stylesheet" href="/Assets/style.css">
<link rel="stylesheet" href="/Assets/addon.css">

<script src="/Scripts/populate-navbar.js" defer></script>
<script src="/Scripts/populate-footer.js" defer></script>
<script src="/Scripts/load-more-blogs.js" defer></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
html {
color: black!important;
font-size: 12pt;
}

#displaypic{
float: right;
text-align: center;
padding-top: 50px;
}
</style>
</head>

<body>
<header>
</header>
<h2>Pranav Minasandra, PhD</h2>
<div id="navbar"></div>

<main>
<p>This book is Ursula K Le Guin showing off her world-building skills. Since this
is Le Guin we are talking about, this book is unputdownable. The dizzying jumps
between different planes of existence described in this book are just as
thought-provoking as the writing is candidly hilarious.</p>

<p>It’s difficult for me to review this book without spoilers, but spoiling any
part of this book would be criminal. If you liked <em>The Ones who Walk Away
from Omelas</em>, this book is almost a dozen stories in the same vein. The
story about the Island of the Immortals is probably the best story in here, and
is freely available to read online.</p>

<p>Le Guin is the master of environmental story-telling, wherein aspects of the
world-building develop and drive the main plot. This writing is extremely fun,
and her wit is enchanting. It would have been so very nice if Ursula Le Guin
ever wrote for Doctor Who.</p>

</main>


<footer>This is an ad-free and tracker-free website. No data is collected or retained from any users.<br>© Pranav Minasandra, 2020. All Rights Reserved.</footer>
</body>
</html>
