<!DOCTYPE html>
<html>
<head>
<title>Pranav Minasandra</title>
<link rel="stylesheet" href="https://latex.now.sh/style.css">
<link rel="stylesheet" href="/Assets/addon.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
html {
color: black!important;
font-size: 12pt;
}

#displaypic{
float: right;
text-align: center;
padding-top: 50px;
}
</style>
</head>

<body>
<header>
<h1 class="title">Pranav Minasandra</h1>
</header>
<div class="nav">
<ol>
	<li><a href="/">Home</a></li>
	<li><a href="/about">About</a></li>	
	<li><a href="/projects">Projects</a></li>	
	<li><a href="/reviews">Reviews</a></li>	
	<li><a href="/news">News</a></li>	
	<li><a href="/contact">Contact</a></li>
</ol>
</div>
<main>
<p>In this paper, we find some pretty cool things about hyena activity patterns
using a combination of cool analyses, machine learning, and accelerometer
sensors.</p>

<p>The daily activity patterns of social animals may be influenced by who they
interact with, who they are, what they were doing the previous day, and probably
many other such factors.</p>

<p>Spotted hyenas are such social animals. They live in huge clans of several dozens of
individuals. At any time however, most hyenas are alone, or in small subgroups
of a handful of others.</p>

<p><a href="https://movecall.group">The CCAS team</a> deployed several sensors on 5 of these
hyenas. For around 40 days, we knew where they were (GPS), what they were saying
(mic), and potentially what they were doing (accelerometer)</p>

<p>An accelerometer measures acceleration in the 3 dimensions. I used a machine
learning approach called a ‘random forest classifier’ to know the hyenas’
behaviours.</p>

<p>Once we knew what the hyenas were doing, we verified that our classifier made
sense. Hyenas are nocturnal. That means they are usually only active at night.
Our predictions also said the same thing, which was good.</p>

<p>We found that hyenas can synchronise their activity patterns with other
hyenas. For this, they need to have spent time together. <em>BUT</em> all hyenas who
hung out don’t have to synchronise!</p>

<p>We also found that each hyena has a sort of unique activity pattern, but
overall, the patterns were still pretty similar.</p>

<p>Hyenas that were more active one day weren’t necessarily less active on future
days. This means they probably don’t make up for being tired in this way.</p>

<p>Overall, we used a pretty cool way to approach activity patterns in social
animals that live in the wild. This has been pretty challenging in the past, so
hopefully other studies like this one can help understand this stuff better.</p>


</main>


<footer>This is an ad-free and tracker-free website. No data is collected or retained from any users.<br>© Pranav Minasandra, 2020. All Rights Reserved.</footer>
</body>
</html>
