<!DOCTYPE html>
<html>
<head>
<title>Pranav Minasandra</title>
<link rel="stylesheet" href="https://latex.now.sh/style.css">
<link rel="stylesheet" href="/Assets/addon.css">
<link rel="stylesheet" href="/Assets/blog.css">
<link rel="stylesheet" href="/Assets/paper.css">
<link rel="canonical" href="https://pminasandra.github.io/publications/layouts/post.html"/>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="">
<meta name="description" content="">
<meta name="title" content="">
<meta name="image" content="https://pminasandra.github.io"/>
<meta name="thumbnail" content="https://pminasandra.github.io"/>
<meta name="banner" content="https://pminasandra.github.io"/>

<!-- I don't want to add these meta things, but without them the shared link looks like crap --!>
<meta name="og:type" content="article"/>
<meta name="og:title" content=""/>
<meta name="og:site_name" content=" Reviews"/>
<meta name="og:url" content="https://pminasandra.github.io/publications/layouts/post.html"/>
<meta name="og:image" content="https://pminasandra.github.io"/>
<meta name="og:image" content=""/>
<!--meta name="og:image:secure_url" content="https://pminasandra.github.io"/--!>
<meta name="og:description" content=""/>
<meta name="article:published_time" content=""/>

<meta name="twitter:card" content="summary"/>
<meta name="twitter:creator" content="@PMinasandra"/>
<meta name="twitter:title" content=""/>
<meta name="twitter:site" content=" Reviews"/>
<meta name="twitter:site_name" content="https://pminasandra.github.io/publications"/>
<meta name="twitter:domain" content="https://pminasandra.github.io"/>
<meta name="twitter:image" content="https://pminasandra.github.io"/>
<meta name="twitter:description" content=""/>
<style>
html {
color: black!important;
font-size: 12pt;
}

#displaypic{
float: right;
text-align: center;
padding-top: 50px;
}
</style>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>

<body>
<header>
<h1 class="title">Pranav Minasandra</h1>
</header>
<div class="nav">
<ol>
	<li><a href="/">Home</a></li>
	<li><a href="/about">About</a></li>	
	<li><a href="/projects">Projects</a></li>	
	<li><a href="/reviews">Reviews</a></li>	
	<li><a href="/news">News</a></li>	
	<li><a href="/contact">Contact</a></li>
</ol>
</div>
<main>
<h1 class="post-title"></h1>
<h1 class="post-author"></h1> 
<h1 class="post-date"></h1>

<img src="" class="post-cover">

<div class="paperlinks">
<ul class="links">
    <li> <a href="" target="_blank">Publication</a>
    <li> <a href="" target="_blank">Full text</a>
    <li> <a href="" target="_blank">Code</a>
</ul>
</div>

<link rel="stylesheet" href="/Assets/blog-landing.css">
<link rel="stylesheet" href="/Assets/papers-landing.css">

<h2> Publications </h2>

<p>
Here are the papers available now:
</p>

<div class="all-blog-posts">
	
		<div class="blogpost-box">
			<div class="some-container">
			<span class="blog-title"><p><a href="https://pminasandra.github.io/publications/2020/05/14/truncated-powerlaw-blackbuck.html">Truncated power-law distribution of group sizes in antelope</a></p></span>
			<!--span class="blog-date">Pranav Minasandra, Kavita Isvaran | 14 May 2020</span--!>
			</div>
			<div class="blogpost-box-text">
				<p class="paper-keywords">group size distributions; animal groups; power law; habitat openness; blackbuck</p>

				 <a href="https://pminasandra.github.io/publications/2020/05/14/truncated-powerlaw-blackbuck.html" class="readmore">Read more...</a>

      <div class="paper-links">
        <p>Animal groups can come together in many ways and for various purposes. The dynamics of group formation are exciting, and only recently have been receiving attention. In this paper, we look at group size distributions in Blackbuck, a type of Indian antelope, and found that these groups are distributed with heavy tails. This is a special type of distribution, whose meaning we explore further. </p>
        <ul class="links">
          <li> <a href="https://doi.org/10.1163/1568539x-bja10012">publication</a>
          <li> <a href="https://doi.org/10.1101/411199">full text</a>
          <li> <a href="https://github.com/pminasandra/distribution-analyse">code</a>
        </ul>
      </div>
			</div>
			<div class="blogpost-box-image">
				<img src="/Assets/images/2020blackbuckpapercover._clip.jpg">
			</div>
		</div>
	
</div>

</main>


<footer>This is an ad-free and tracker-free website. No data is collected or retained from any users.<br>© Pranav Minasandra, 2020. All Rights Reserved.</footer>
</body>
</html>

